body {
    text-align: left;
    align-items: center;
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

section{
    width: 700px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border:1px solid black;
}

/* Styling for the form */
form {
    max-width: 500px; /* Maximum width of the form */
    text-align: left; /* Align form elements to the left */
}

/* Styling for text inputs and textarea */
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%; /* Take up full width of the container */
    padding: 10px; /* Padding around the inputs */
    margin-bottom: 10px; /* Space between inputs */
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px; /* Rounded corners */
}

/* Styling for the submit button */
input[type="submit"] {
    background-color: #4CAF50; /* Green background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding around the button */
    border: none; /* No border */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Cursor style on hover */
}

/* Styling for the hover effect */
input[type="submit"]:hover {
    background-color: #45a049; /* Darker green background color on hover */
}

h1{
    font-size: 35px;
}